.gallery{
    width: 160%;
    margin: 0;
    padding: 0;
    animation-name: gallery;
    animation-duration: 600ms;  
    animation-timing-function: ease-out
}

@keyframes gallery {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}
.spinner{
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
 0%{transform: rotate(0deg);}
 25%{transform: rotate(120deg);}
 50%{transform: rotate(240deg);}
 100%{transform: rotate(360deg);}
  }

.grid-container{
    background-color: #BACACB;
    columns: 4;
    column-gap: 0;
}


.project{
    break-inside: avoid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding: 0.5em;
    overflow: hidden;
}

.project-img{
    width: 95%;
    padding: 0;
    position: relative;
    transition: transform .3s ease-in-out;
 
    
       
}


.project-span{
    visibility: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items:baseline;
    position: absolute;
    z-index: 10;
    background-color: rgba(100, 100, 100, 50%);
    transform: translateY(40%);
    transition:transform 0.5s ease-in;
}

.project-img:hover {
    transform:scale(1.1);
}

.project-img:hover ~ .project-span{
      visibility: visible; 
      transform: translateY(10%);
}


.project-span p, h3{
    color:#cecbcb;
    margin: 0;
    padding: 0 1em;
}





@media   (max-width:1000px) {
    
    .gallery{
        width: 100%;
    }
    .grid-container{
        columns: 3;
    }
}

@media (max-width:700px) {
    .grid-container{
        columns: 2;
    }
    .project-span{
        visibility: visible;
        transform: none;
        width: 80%;
    }
    .project-img{
        transition: none;
        transform: none;
        pointer-events: none;
        transform: translateY(10%)
     
    }

  
}
@media (max-width:450px) {
    .grid-container{
        columns: 1;
    }
}