.header{
    color: #9FADAE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height:80vh;
    width: 40%;
}

@media (max-width:1000px){
 .header{
     height: 10vh;
     min-height: 100px;
     width: 100%;
     flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding-left: 1.5em;
    z-index: 5;
    margin-top: 60px;

 }

 .header.active{
     background-color: #D4E7E8;
 }
}


@media (max-width:767px){
    .header{
        background-color: rgba(212,231,232,80%);  
        margin-top: 50px;
    }
}