.logo{
    /* background-color:rgba(0, 0, 0, 0.5); */
    position: relative;
    left: -2em;

}

.logo img{
    width: 35%;
}

@media (max-width:1000px){
    .logo{
          left:0;
          width: 70%;

      
    
    }

    .logo img{
        width: 120px;
    }
}