

body {
  font-family: 'Gill Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: url(./components/face.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #646f70;  
  overflow: auto;
}

.App{
  display: flex;
  justify-content: space-between;
  width: 100vw;

}

.container{
  z-index: 1;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: 95%;
  margin: 0;
  padding: 0 2em;
}


@media (max-width:1000px){
  .App{
    flex-direction: column;
    align-items: center;

  }
  .container{
    width: 100%;
    height:unset;
  }
  
}


@media (max-width:550px){
  body{
    background-image: url(./components/face-mobile.png);
  }


    body::before {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: '';
      background-image: url(./components/face-mobile.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #646f70;
      background-position:center;
    }

}
