body {
  font-family: 'Gill Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: url(./components/face.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

.App{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  /* height: 100%;  */
}

.container{
  z-index: 1;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: 95%;
  margin: 0;
  padding: 0 2em;
}


@media (max-width:1000px){
  .App{
    flex-direction: column;
    align-items: center;

  }
  .container{
    /* width: 100vw; */
    height:unset;
  }
  
}


@media (max-width:767px){
  body {
  background: url(./components/face-mobile.png);
  background-repeat: no-repeat;
  background-size:auto;
  background-position: center;
  background-attachment: scroll;

}
}
